body {
	max-width: 800px;
	margin: auto;
	padding: 5px;
	font: 16px/1.4 system-ui, sans-serif;
	color: mintcream;

	background-color:#222831;
}

table {
	border-collapse: collapse;
	border: 1px solid;
	width: 100%;
	background-color:#222831;
}
tr, td, th {
	vertical-align: top;
	border: 1px solid mintcream;
	padding: .5em;
}


th {
	/* background-color: paleturquoise; */
	background-color: Aquamarine;
	color:#222831;
}
tbody {
	background-color:#222831;
}

tr > .forum {
	background-color: khaki;
	color:#222831;

}

nav > ul {
    list-style-type: none;
}

nav > ul > li { display: inline-block; }

.center { text-align: center; }
.grow { width: 100%; }


