<!DOCTYPE html>
<html lang="en">
	<head>
		<title>New Board</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>New Board</h1>

		{% if message %} <span> {{ message }} </span> {% endif %}

		<form action="/boards" method="post">
			<label for="name">Name:</label><br>
			<input type="text" id="name" name="name"><br>

			<label for="description">Description:</label><br>
			<input type="text" id="description" name="description"><br>

			<label for="position">Position:</label><br>
			<input type="number" id="position" name="position"><br>

			<label for="is_locked">Locked:</label>
			<input type="checkbox" id="is_locked" name="is_locked"><br>

			<label for="forum_id">Forum:</label>
			<select id="forum_id" name="forum_id">
				{% for forum in forums %}
				<option value="{{forum.id}}">{{forum.name}}</option>
				{% endfor %}
			</select>

			<button type="submit">Submit</button>
		</form>
	</body>
</html>
